/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #0c0c0c;
}

/* Header */
/* Header */
header {
  background: linear-gradient(to right,#49206c,#5953a3, #39c5ee,#98d09b);
  text-align: center;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

header .logo {
  font-size: 2em;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

nav ul li a:hover {
  color: #ffffff;
  transform: scale(1.1);
}

nav ul li a:hover::after {
  width: 100%;
}

/* Section */
section {
  padding: 50px 20px;
  margin: 20px 0;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  header {
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  header .logo {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  nav ul {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  section {
    padding: 30px 15px;
  }

  h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  header .logo {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  nav ul {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  section {
    padding: 20px 10px;
  }

  h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px 5px;
  }

  header .logo {
    font-size: 1em;
  }

  nav ul li {
    margin: 5px 0;
  }

  nav ul li a {
    font-size: 0.9em;
  }

  section {
    padding: 10px 5px;
  }

  h2 {
    font-size: 1.2em;
  }
}


/* Home Page */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("home.jpg");
  height: 100svh; /* Viewport height */
  width: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  animation: slideIn 3s ease-in-out;
}

.hero-text h1 {
  font-size: 40px;
  margin: 0;
}

.hero-text p {
  font-size: 18px;
  margin: 0;
}

.hero-text a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.hero-text button {
  display: flex;
  padding: 15px 25px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  border-radius: 0px;
  cursor: pointer;
  font-size: 18px;
  background-color: black;
}

.hero-text button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Responsive Styling */

/* For tablets and smaller screens */
@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 35px;
  }

  .hero-text p {
    font-size: 16px;
  }

  /* Keeping the button fixed size */
  .hero-text button {
    padding: 15px 25px;
    font-size: 18px;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 14px;
  }

  /* Keeping the button fixed size */
  .hero-text button {
    padding: 15px 25px;
    font-size: 18px;
  }
}

/* For very small mobile devices */
@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 24px;
  }

  .hero-text p {
    font-size: 12px;
  }

  /* Keeping the button fixed size */
  .hero-text button {
    padding: 15px 25px;
    font-size: 18px;
  }
}


/* @keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
} */
/* 



/* Services Page */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 35px;
  align-items: center;
}
.service .services-list {
  display: flex;
  justify-content: space-around;
  
}

.service-item {
  background-color: #333;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  width: 20%;
}


/* Get started button */
.hero-text button {
  display: flex;
  padding: 15px 25px;
  margin-top: 30px;
  align-items: center;
  display: inline-block;
  color: rgb(255, 255, 255);
  /* border: 1px solid white; */
  border-radius: 0px;
  cursor: pointer;
  font-size: 18px;
  background-color: black;
}

.hero-text button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  /* border: 1px solid white; */
}

.service button{

  display: flex;
  padding: 15px 25px;
  margin-top: 30px;
  align-items: center;
  display: inline-block;
  color: rgb(252, 251, 251);
  border: 1px solid white;
  border-radius: 0px;
  cursor: pointer;
  font-size: 18px;
  background-color: black;
}

.service button:hover {
  background-color: rgb(249, 246, 246);
  color: black;
}


.team .team-members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  background-color: #333;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  width: 30%;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.map {
  margin-top: 20px;
  background-color: #333;
  padding: 20px;
  text-align: center;
}



.card {
  cursor: pointer;
  
  text-align: center;
  background: #49206c;
  padding: 30px;
  width: 260px;
  height: 260px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.6);
  background: linear-gradient(to bottom,#49206c,#5953a3, #39c5ee,#98d09b);
}

.card h3 {
  padding: 30px;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
}

.card:hover h3 {
  color: white;
}

.card p {
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.card:hover p {
  color: white;
}

/* About Us */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.responsive-container-block {
  display: flex;
  padding: 20px;
  max-width: 85%;
  /* border: 2px solid #ddd; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom,#49206c,#5953a3, #39c5ee);
  gap: 20px;
  border-radius: 20px;
}

.ultimateImg {
  flex: 1;
  
}

.ultimateImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.allText {
  flex: 2;
  padding: 20px;
  color: #ffffff;
}

.allText h1 {
  margin: 50px auto;
  text-align: center;
  width: fit-content;
  color: #fffbfb;
}

.allText h3 {
  text-align: justify;
  font-size: 1.5rem;
}

.allText p {
  margin-top: 20px;
  line-height: 1.6;
  text-align: justify;
}

/* Media Queries */
@media (max-width: 1024px) {
  .responsive-container-block {
    max-width: 90%;
    flex-direction: column;
  }

  .ultimateImg,
  .allText {
    width: 100%;
  }

  .allText h1 {
    font-size: 2rem;
  }
}

  
  .allText h3 {
    text-align: justify;
    color: #fffbfb;
    justify-content: center;
    font-size: 1.5rem; /* Adjust for smaller screens */
  }
  
  .allText p {
    margin-top: 20px;
    line-height: 1.6;
    color: #ffffff;
    text-align: justify;
  }
  
  /* Media Queries */
  @media (max-width: 1024px) {
    .responsive-container-block {
      max-width: 90%;
      flex-direction: column; /* Stack items vertically */
    }
  
    .ultimateImg, .allText {
      flex: 1;
      width: 100%; /* Full width for smaller screens */
    }
  
    .allText h1 {
      font-size: 2rem; /* Adjust heading size */
    }
  
    .allText h3 {
      font-size: 1.2rem; /* Smaller font for h3 */
    }
  
    .allText p {
      font-size: 1rem; /* Adjust paragraph size */
    }
  }
  
  @media (max-width: 768px) {
    .about {
      padding: 10px; /* Reduce padding for small devices */
    }
  
    .responsive-container-block {
      padding: 10px;
    }
  
    .allText h1 {
      font-size: 1.8rem; /* Further adjust heading size */
    }
  
    .allText h3 {
      font-size: 1rem; /* Smaller font for h3 on small screens */
    }
  
    .allText p {
      font-size: 0.9rem; /* Smaller font for paragraphs */
    }
  }
  
  @media (max-width: 480px) {
    .allText h1 {
      font-size: 1.5rem;
    }
  
    .allText h3 {
      font-size: 0.9rem;
    }
  
    .allText p {
      font-size: 0.8rem;
      line-height: 1.4; /* Slightly tighter line height */
    }
  }
  

/*meeet team */

/* Section styles */
.team-section {
  text-align: center;
  padding: 20px;
}

.team-section h1 {
  font-size: 2.8rem;
  color: rgb(255, 255, 255); /* Title in purple */
  margin-bottom: 80px;
}

/* Team container */


.team-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

/* Card styles */
.team-card {
  
  /* background: linear-gradient(to bottom,#49206c,#5953a3, #39c5ee,#98d09b); */
  /* background-color: #49206c; */
  background: linear-gradient(to bottom,#49206c,#39c5ee); 
  padding: 9px;
  width: 400px; /* Increased width for better layout */
  box-shadow: 0 5px 15px rgb(94, 90, 90);
  color: white;
  transition: transform 0.3s ease;
  border-color: white;
  /* border: 1px solid #ddd; */
  border-radius: 20px;
}

/* Hover effect for cards */
.team-card:hover {
  transform: translateY(-10px);
}

/* Photo and content */
.card-content {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 15px;
}

.photo-ceo {
    background-color: white;
    border-radius: 100%;
    padding: 50px;
    background-image: url(''); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    width: 140px;
    height: 140px;
  }
  
  .photo-director {
    background-color: white;
    padding: 50px;
    border-radius:100%;
    background-image: url(''); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    width: 140px;
    height: 140px;
  }
.name-position {
  text-align: left;
}

.name-position h2 {
  font-size: 1.5em;
  margin: 0;
}

.name-position h3 {
  font-size: 1em;
  margin: 5px 0;
  color: rgb(255, 255, 255); /* Subtext in blue */
}

/* Information text */
.info {
  font-size: 0.9em;
  margin: 15px 0;
  text-align: left;
}

/* Icons */
.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}



/* cortesra */

.cortesra {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4ece7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px; /* Add padding to give space on smaller devices */
}

.container-cortesra {
  position: relative;
  background-color: #849480;
  padding: 20px;
  width: 90%;
  max-width: 75%;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

.container-cortesra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("BGGGG-01.png");
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: 1;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  margin-top: 20px;
  margin-left: 20%;
}

.logo img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-text {
  margin-left: 20px;
  text-align: left;
}

.logo-text h1 {
  font-size: 45px;
  color: white;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.logo-text p {
  font-size: 18px;
  color: white;
  margin: 0;
}

.text {
  position: relative;
  margin-top: 30px;
  z-index: 2;
}

.text h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
}

.text p {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.6;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
  .logo img {
    width: 120px;
  }

  .logo-text h1 {
    font-size: 36px;
  }

  .logo-text p {
    font-size: 16px;
  }

  .text h1 {
    font-size: 20px;
  }

  .text p {
    font-size: 14px;
  }

  /* Adjust the width of the container */
  .container-cortesra {
    max-width: 85%;
  }
}

@media (max-width: 768px) {
  .logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .logo img {
    width: 100px;
  }

  .logo-text h1 {
    font-size: 30px;
    text-align: center;
  }

  .logo-text p {
    font-size: 14px;
    text-align: center;
  }

  .text h1 {
    font-size: 18px;
  }

  .text p {
    font-size: 12px;
  }

  .container {
    padding: 15px;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 80px;
  }

  .logo-text h1 {
    font-size: 28px;
  }

  .logo-text p {
    font-size: 12px;
  }

  .text h1 {
    font-size: 16px;
  }

  .text p {
    font-size: 10px;
  }

  .container {
    padding: 10px;
  }
}

/* contact */
.hero-section {
    text-align: center;
    /* padding: px 0px; */
    color: white;
  }

  .hero-section h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
  }

  .hero-section p { 
    margin-bottom: 10px;
    padding: 6px;
  }

  .hero-section .buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s;
  }

  .hero-section .buttons button:hover {
    background: linear-gradient(to right, #6a11cb, #dc25fc);
  }

  /* Contact Form and Map */
  .contact-container {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80px;
    padding: 20px;
}

.form-box, .map-box {
    background: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 40%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
    margin-bottom: 10px;
    color: #f7f6f4;
}

.form-box input,
.form-box textarea {
    margin: 10px 0;
    padding: 12px;
    width: 95%;
    border: none;
    border-radius: 5px;
}

form button {
  /* background: linear-gradient(to bottom,#49206c,#5953a3, #39c5ee,#98d09b); */
    color: rgb(255, 252, 252);
    background-color:#39c5ee ;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    padding: 12px;
    border-radius: 0px;
}

form button:hover {
    background-color: #5953a3;
    color: white;
}

.map-box iframe {
    border-radius: 10px;
}

/* Media Queries */
/* Mobile Devices - Small (max-width: 600px) */
@media (max-width: 600px) {
    .contact-container {
        flex-direction: column; /* Stack items vertically */
        padding: 10px;
    }

    .form-box, .map-box {
        width: 100%; /* Make both boxes take up the full width */
        margin: 10px 0; /* Add margin between form and map */
    }

    form button {
        width: 100%; /* Button takes up full width */
    }
}

/* Mobile Devices - Medium (max-width: 767px) */
@media (max-width: 767px) {
    .contact-container {
        flex-direction: column;
        padding: 10px;
    }

    .form-box, .map-box {
        width: 100%; /* Full width for smaller mobile screens */
        margin: 10px 0; /* Ensure there is space between boxes */
    }

    form button {
        width: 100%;
    }
}

/* Tablets and Medium Devices (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .form-box, .map-box {
        width: 48%; /* Make both boxes take up 48% of the container */
    }

    form button {
        width: 100%; /* Full-width button for medium screens */
    }
}

/* Large Devices (Desktops) */
@media (min-width: 1025px) {
    .form-box, .map-box {
        width: 40%; /* Keep both boxes at 40% of the container width */
    }
}

  /* Footer */
  .footer {
    /* background: linear-gradient(to bottom,#49206c,#5953a3, #39c5ee,#98d09b); */
    /* background-color:#5953a3 ; */
    background: linear-gradient(to right,#49206c, #39c5ee);
    color: #fefefe;
    width: 100%;
    margin-top: auto;
}

.footer .heading h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-bottom: 2rem;
}

.footer .content {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    /* Allow items to wrap on smaller screens */
}

.footer .content p {
    margin-bottom: 1.3rem;
}

.footer .content a {
    text-decoration: none;
    color: #fefefe;
    display: flex;
    align-items: center;
}

.footer .content a i {
    margin-right: 10px; /* Space between icon and text */
}

.footer .content a:hover {
    border-bottom: 0px solid #ffffff;
}

.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
}

footer {
    text-align: center;
    margin-top: 2rem;
}

footer hr {
    margin: 1rem 0;
    border: 0;
    border-top: 1px solid #ddd;
}

/* Media Queries */
/* Small Devices (Mobile Portrait) */
@media (max-width: 767px) {
    .footer .content {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
        margin-left: 0; /* Remove left margin for mobile */
    }

    .footer .content > div {
        margin: 1rem 0;
        width: 100%;
        text-align: center; /* Center text for smaller screens */
    }

    .footer .content a {
        justify-content: center; /* Center align icons and text */
    }

    .footer .content h4, .footer .content p {
        font-size: 16px; /* Smaller font size for mobile devices */
    }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer .content {
        flex-direction: row; /* Keep items in row */
        justify-content: space-evenly;
        margin-left: 5%; /* Reduce left margin */
    }

    .footer .content > div {
        margin: 1rem;
        width: 45%; /* Make items take 45% width for medium screens */
        text-align: left;
    }

    .footer .content a {
        justify-content: flex-start; /* Align items to the left */
    }

    .footer .content h4, .footer .content p {
        font-size: 17px; /* Adjust font size for tablets */
    }
}

/* Large Devices (Desktops) */
@media (min-width: 1025px) {
    .footer .content {
        flex-direction: row; /* Keep items in row */
        justify-content: space-evenly;
    }

    .footer .content > div {
        margin: 1rem;
        width: 22%; /* Make items take 22% width for large screens */
        text-align: left;
    }

    .footer .content a {
        justify-content: flex-start; /* Align items to the left */
    }

    .footer .content h4, .footer .content p {
        font-size: 18px; /* Adjust font size for desktops */
    }
}


